<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="addressBean" class="com.learnSpring.model.Address">
		<property name="state" value="Karnataka"></property>
		<property name="country" value="India"></property>
	</bean>

	<bean id="employeeBean" class="com.learnSpring.model.Employee">
		<property name="id" value="1"></property>
		<property name="name" value="Mahesh"></property>
		<property name="address" ref="addressBean"></property>
	</bean>
	
	<bean id="addressBeanConst" class="com.learnSpring.model.Address">
		<constructor-arg name="state" value="Andhra Pradesh" index="0"></constructor-arg>
		<constructor-arg name="country" value="India" index="1"></constructor-arg>
	</bean>
	
	<bean id="employeeBeanConst" class="com.learnSpring.model.Employee">
		<constructor-arg name="id" value="2" index="0"></constructor-arg>
		<constructor-arg name="name" value="Rajesh" index="1"></constructor-arg>
		<constructor-arg name="address" ref="addressBeanConst" index="2"></constructor-arg>
	</bean>

</beans>